<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="root">
        <h1>学校信息</h1>
        <h1>学校名称：{{name}}</h1>
        <h1>学校地址：{{adress}}</h1>

        <hr>
        <h1>学生信息 </h1>
        <button @click="addSex">点击增加性别，默认男</button>
        <h2>姓名 {{student.name}}</h2>
        <h2>性别：{{student.sex}}</h2>
        <h2>爱好</h2>
        <li v-for="item in student.hobbys" ::key="index">
            {{item}}
        </li>
        <h2>朋友</h2>
        <li v-for="item in student.firends" ::key="index">
            {{item.name}}---{{item.age}}
        </li>
        <h2>年龄</h2>
        对外年龄：{{student.age.sage}} 
        真实年龄：{{student.age.rage}}

    </div>


    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    name:"zzzzl",
                    adress:"三丰大厦",
                    student:{
                        name:"tom",
                        age:{
                            rage:40,
                            sage:12,
                        },
                        hobbys:["抽烟","喝酒","烫头"],
                        firends:[
                            {name:"jerry",age:35},
                            {name:"momo",age:35},
                        ]

                    }


                };
            },
            methods: {
                addSex(){
                    this.$set(this.student,"sex","男");
                }
            },


        })
    </script>
</body>

</html>